.blue{
	background-color: blue;
	width: fit-content;
	height:fit-content ;
}
.green{
	background-color:green;
	width: fit-content;
	height: fit-content;
}
.red{
	background-color: red;
	width: fit-content;
	height:fit-content;
}